<div class="col s12 sub-in">
  <div class="row">
    <div class="text-sub center">
      <% if flash[:error] %>
      <div id="toast-container">
          <script type="text/javascript">
           Materialize.toast('<h3><%= flash[:error] %></h3>', 10000, 'red rounded' )
          </script>
        <%end%>
      </div>
      <h5>
        subscribe to our newsletter to find out all the latest designs top rated
         <i class="material-icons md-36 tooltipped" data-position="top" data-delay="50" data-tooltip="receive news on the web, most voted designs a week and news about the world of design. NOT SEND SPAM">info
         </i>
       </h5>
    </div>

    <%=form_for [@subscriber] do |f| %>
    <div class="col-xs-12 col-md-7">
      <input null="false" class="subscription-input" placeholder="email@example.es" size="45" type="" name="subscriber[email]" id="subscriber_email">
    </div>
    <div class="col-xs-12 col-md-5">
      <button type="submit" class="subscription-btn">subscriber
      </button>
    </div>
  </div>
    <% end %>
  </div>
