/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
  *= require_self
  *= require font-awesome
  *= require commontator/application
  */
@import "materialize/components/color";
$primary-color: color("blue", "lighten-2") !default;
@import 'materialize';
@import "materialize/extras/nouislider";
@import "font-awesome";
@media only screen and (max-width: 1000px) {
    .row .col.m6 {
        width: 100%;
    }
}

#toast-container {
    position: absolute;

    align-items: center;
    justify-content: center;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    font-size: large;
    font-weight: initial;
}

body {
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background-color: #ebebeb;
}

#thread_3_div{
  margin: 2%;
}

.logo {
    height: 120px;
    margin-bottom: 5%;
}

.btn {
    background-color: #2196F3 !important;
}

footer.page-footer {
    margin-top: 0;
    padding-top: 0;
}

.brand {
    position: relative;
}

video {
    width: 100%;
    height: auto;

    vertical-align: middle;
}

.text-video {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    background: rgba(0,0,0,0);

    align-items: center;
    justify-content: center;
}

.text-video h2 {
    text-align: center;
}

.red {
    background-color: red !important;
}

.list-group-item {}

.button-mod {
    letter-spacing: 0.7px;

    color: white;
    border: 1px white solid;
    border-radius: 6px;
    background-color: transparent !important;
}

.button-logout {
    letter-spacing: 0.7px;

    border: 1px white solid;
    border-radius: 6px;
    background-color: red;
}

.button {
    position: absolute;
    top: 40%;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    align-items: center;
    justify-content: center;
}

nav .index {
    background-color: #0c070e;
}

.colum-12-branding {
    height: auto;

    text-align: center;

    color:#ffffff;
    background-color: #64b5f6;
}

.content-brading {
    color: #ffffff;
    background-color: #64b5f6;
}

#upload {
    display: none;
}

.filter {
    position: relative;

    margin-top: 2%;
}

.filter img {
    max-height: 150px;
    max-height: 250px;
}

.image-medium img {
    width: 450px;
    height: 275px;
}

.top h6 {
    top: 10px;
}

.button-new-design {
    margin: 2%;
}

.circle-designs-card {
    border-radius: 20px;
}
