<% if flash[:error] %>

<div id="toast-container">

    <script type="text/javascript">
     Materialize.toast('<h3><%= flash[:error] %></h3>', 10000, 'red rounded' )
    </script>

<%end%>

<% if flash[:success] %>

<div id="toast-container">

    <script type="text/javascript">
     Materialize.toast('<h3><%= flash[:success] %></h3>', 10000, 'blue rounded' )
    </script>

<%end%>

<% if flash[:notice] %>

<div id="toast-container">

    <script type="text/javascript">
     Materialize.toast('<h3><%= flash[:notice] %></h3>', 10000, 'yellow rounded' )
    </script>

<%end%>
