<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text"><%=image_tag("logo", style: "width: 35px;")%>
                    <span class="lighten" style="font-size: 1.3rem; margin-left: -15px; font-weight: 700; font-family: Lato;">
                        <b class="blue-text">Designers</b>
                        <b class="white-text">Oportunity</b>
                    </span>
                </a>
            </h5>
            <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <h5 class="white-text">support</h5>
            <ul>
                <li>
                    <a class="grey-text text-lighten-3" href="#!">about Designers Oportunity</a>
                </li>
                <li>
                    <a class="grey-text text-lighten-3" href="#!">how it works</a>
                </li>
                <li>
                    <a class="grey-text text-lighten-3" href="#!">FAQs</a>
                </li>
                <li>
                    <a class="grey-text text-lighten-3" href="#!">contact</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container">
        <a class="white-text" href="#">GitHub Project
            <i class="fa fa-github" style="color:white" aria-hidden="true"></i>
        </a>

        <div class="right list-group">
            <a class="list-group-item" href="https://facebook.com">
                <i class="fa fa-facebook-square fa-2x" style="color:white" aria-hidden="true"></i>
            </a>
            <a class="list-group-item" href="https://facebook.com">
                <i class="fa fa-google-plus fa-2x" style="color:white" aria-hidden="true"></i>
            </a>
            <a class="list-group-item" href="https://twitter.com">
                <i class="fa fa-twitter-square fa-2x" style="color:white" aria-hidden="true"></i>
            </a>
            <a class="list-group-item" href="https://linkedin.com">
                <i class="fa fa-linkedin-square fa-2x" style="color:white" aria-hidden="true"></i>
            </a>
            <a class="list-group-item" href="https://facebook.com">
                <i class="fa fa-github fa-2x" style="color:white" aria-hidden="true"></i>
            </a>
        </div>
    </div>
</footer>
